/* medium device start  */
@media (min-width:992px) and (max-width:1199px) {
    .footer-item p {
        padding: 0;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .offcanvas-body {
        padding: 0;
        text-align: center;
    }

    .nav-item {
        margin-right: 0 !important;
    }

    .button {
        width: 85%;
    }


    .common-header p {
        padding: 0;
    }

    .banner-contain h1 {
        padding: 0 209px;
    }

    .banner-contain input {
        margin-left: 40px;
    }



}

/* small device start  */
@media (min-width:576px) and (max-width:767px) {
    .offcanvas-body {
        padding: 0;
        text-align: center;
    }

    .nav-item {
        margin-right: 0 !important;
    }

    .button {
        width: 75%;
    }

    .banner-contain h1 {
        padding: 0 128px;
    }

    .banner-contain p {
        padding: 0 93px;
    }

    .common-header p {
        padding: 0;
    }

    .practice-item {
        margin-bottom: 20px;
    }

    .inner-client p {
        padding: 0px;
    }

    .left-items p {
        padding: 0;
    }

    .left-items h5,
    p {
        padding: 0;
    }

    .card-body {
        padding: 0;
    }
}

@media (max-width:575px) {
    .offcanvas-body {
        padding: 0;
        text-align: center;
    }

    .nav-item {
        margin-right: 0 !important;
    }

    .button {
        width: 75%;
    }

    .banner-contain h1 {
        padding: 0 20px;
    }

    .banner-contain p {
        padding: 0 0px;
    }

    .banner-contain input {
        padding-right: 120px;
    }

    .common-header p {
        padding: 0;
    }

    .practice-item {
        margin-bottom: 20px;
    }

    .inner-client p {
        padding: 0px;
    }

    .left-items p {
        padding: 0;
    }

    .left-items h5,
    p {
        padding: 0;
    }

    .card-body {
        padding: 0;
    }

    #btn2 {
        width: 540px;
    }
}